@import "../../assets/styles/_mixins.scss";

.todo {
    height: calc(100vh - 190px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        // width: 100%;
        &:hover > .todo__controllers .todo__button {
            opacity: 1;
        }
        &:not(:last-child) {
            margin: 0 0 20px 0;
        }
    }
    &__controllers {
        // position: absolute;
        // right: 0;
        // top: 0;
        margin: 0 0 0 auto;
        :not(:last-child) {
            margin: 0 15px 0 0;
        }
    }
    &__button {
        opacity: 1;
        font-size: 14px;
        color: red;
        font-weight: 900;
        background-color: transparent;
        transition: all 0.2s linear;
        border: none;
        transform: scale(1);
        width: 18px;
        height: 18px;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    &__label-text {
        border-bottom: 2px solid transparent;
        border-radius: 4px;
        // hide text
        max-width: calc(100vw - 600px);
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__label-text.editable {
        border-bottom: 2px solid lavender;
    }
    &__label-text.large {
        max-width: calc(100vw - 520px);
    }
    &__label {
        font-size: 18px;
        line-height: 23px;
        color: #5a5a5a;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 0 14px 0 0;
        // disable copy
        @include disableCopy;
    }
    &__label.completed {
        text-decoration: line-through;
    }
    &__category {
        background-color: #888;
        border-radius: 4px;
        font-size: 12px;
        line-height: 14px;
        color: #fff;
        padding: 5px 20px;
        margin: 0 10px 0 0;
        // disable copy
        @include disableCopy;
    }
    &__category.process {
        background-color: #407aed;
    }
    &__category.waiting {
        background-color: #fca205;
    }
    &__category.done {
        background-color: #1ec40c;
    }
    &__indicator {
        flex-shrink: 0;
        width: 0.55rem;
        height: 0.55rem;
        border-radius: 50%;
        background-color: #888;
    }
    &__indicator.process {
        background-color: #407aed;
    }
    &__indicator.waiting {
        background-color: #fca205;
    }
    &__indicator.done {
        background-color: #1ec40c;
    }
    &__checkbox {
        position: absolute;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        border: none;
        padding: 0;
        margin: 0;
        &:focus,
        &:hover {
            border: none;
        }
        &:hover + .todo__checkbox--fake {
            border: 1px solid #5a5a5a;
        }
        &:checked + .todo__checkbox--fake {
            background-image: url(../../assets//images/check-icon.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid #5a5a5a;
        }
    }
    &__checkbox--fake {
        flex-shrink: 0;
        width: 1rem;
        height: 1rem;
        background-color: transparent;
        border: 1px solid #ea5959;
        border-radius: 4px;
        transition: all 0.2s linear;
        margin: 0 18px 0 0;
        cursor: pointer;
    }
}
