.burger {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    transition: all 0.35s linear;
    border-radius: 10px;
    z-index: 2;
    &__wrapper {
        position: relative;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__button {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 1rem;
        top: 0.75rem;
        &:hover svg {
            fill: red;
        }
        svg {
            fill: #c5c5c5;
            transition: all 0.25s linear;
        }
    }
}

.burger.visible {
    width: 160px;
}

.social {
    padding: 5px;
    &__link {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover {
            color: #c5c5c5;
        }
        &:hover svg {
            fill: #ea5959;
        }
        :not(:last-child) {
            margin: 0 0 5px 0;
        }
        svg {
            width: 44px;
            height: 44px;
            fill: #c5c5c5;
        }
    }
}
