.nav-select {
    display: none;
    width: 100%;
    font-size: 22px;
    border: none;
    color: #EA5959;
    &:focus {
        outline: none;
    }
    &__item {
        color: #525252;
    }
    &__item.active {
        color: #EA5959;
    }
}