.nav-select {
    width: 100%;
    font-size: 22px;
    border: none;
    color: #EA5959;
    &:disabled {
        cursor: not-allowed;
        color: rgba($color: #525252, $alpha: 0.35);
    }
    &:focus {
        outline: none;
    }
    &__item {
        color: #525252;
    }
    &__item.active {
        color: #EA5959;
    }
}