.modal {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem; 
    height: 5rem;
    border-radius: 10px;
    &__wrapper {
        padding: .75rem 1rem;
        border-radius: 10px;
        background-color: rgba($color: #000000, $alpha: 0.6);
    }
    &__title {
        color: #fff;
        font-size: 16px;
        margin: 0 0 5px 0;
    }
    &__button {
        border: none;
        transition: all .25s linear;
        &:hover {
            color: #C5C5C5;
        }
    }
    &__button--save {
        background-color: #1ec40c;
        color: #fff;
        padding: 5px 10px;
        border-radius: 4px;
    }
    &__button--cancel {
        background-color: #ea5959;
        color: #fff;
        padding: 5px 10px;
        border-radius: 4px;
    }
    &__button--close {
        position: absolute;
        right: .5rem;
        top: 0.5rem;
        background-color: transparent;
        &:hover svg {
            fill: red;
        }
        svg {
            fill: #C5C5C5;
            transition: all .25s linear;
        }
    }
    &__categories {
        margin: 8px 0 2px 0;
    }
    &__controllers {
        display: flex;
        justify-content: flex-end;
        :not(:last-child) {
            margin: 0 10px 0 0;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__label {
        color: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__input {
        width: 100%;
        padding: 2px 10px;
        font-size: 14px;
        line-height: 21.6px;
        color: #525252;
        background-color: #f3f3f3;
        border: none;
        border-radius: 8px;
        &::placeholder {
            color: #b5b5b5;
        }
    }
    &__radio {
        position: absolute;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        border: none;
        padding: 0;
        margin: 0;
        &:focus,
        &:hover {
            border: none;
        }
        &:hover + .modal__radio--fake {
            border: 1px solid #ccc;
        }
        &:checked + .modal__radio--fake::before  {
            opacity: 1;
        }
    }
    &__radio--fake {
        flex-shrink: 0;
        width: .75rem;
        height: .75rem;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: all 0.2s linear;
        margin: 0 5px 0 0;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        &::before {
            content: '';
            opacity: 0;
            width: 45%;
            height: 45%;
            transition: all 0.2s linear;
            background-color: #fff;
            border-radius: 50%;
        }
    }
}
