@media screen and (max-width: 768px) {
    .nav-select {
        display: block;
    }
    .nav {
        display: none;
    }
    .page__wrapper {
        flex-direction: column;
        position: relative;
    }
    .page__nav {
        border-right: none;
        border-bottom: 1px solid #d8d8d8;
        padding: 15px 65px 15px 35px;
    }
    .page__content {
        padding: 15px 35px 15px 35px;
        position: static;
    }
    .page__title {
        text-align: center;
    }
    .todo {
        height: calc(100vh - 255px);
    }
    .todo__label-text {
        max-width: calc(100vw - 320px);
    }
    .todo__label-text.large {
        max-width: calc(100vw - 230px);
    }
}

@media screen and (max-width: 425px) {
    .todo {
        height: calc(100vh - 260px);
    }
    .todo__item {
        flex-direction: column;
        align-items: flex-start;
    }
    .todo__category.todo__category {
        margin: 10px auto 0 auto;
    }
    .todo__indicator.todo__indicator  {
        margin: 10px auto 0 auto;
    }
    .todo__label {
        margin: 0;
    }
    .todo__label-text {
        max-width: calc(100vw - 132px);
    }
    .todo__label-text.large {
        max-width: calc(100vw - 130px);
    }
    .form__input {
        padding: 10px 15px 10px 15px;
    }
    .page__title {
        font-size: 22px;
    }
}

@media screen and (max-width: 375px) {
    .page__content {
        padding: 15px 22px 15px 22px;
    }
    .page__nav {
        padding: 15px 55px 15px 20px;
    }
    .todo__label-text {
        max-width: calc(100vw - 110px);
    }
    .todo__label-text.large {
        max-width: calc(100vw - 110px);
    }
}

@media screen and (max-width: 320px) {
    .burger.visible {
        width: 100%;
    }
}

