@media screen and (max-width: 768px) {
    .page__wrapper {
        flex-direction: column;
    }
    .page__nav {
        border-right: none;
        padding: 10px 20px;
    }
    .page__content {
        padding: 15px 35px 15px 35px;
    }
    .page__title {
        text-align: center;
    }
    .todo {
        height: calc(100vh - 400px);
    }
}

@media screen and (max-width: 425px) {
    .todo__item {
        flex-direction: column;
        align-items: flex-start;
        :not(:last-child) {
            margin: 0;
        }
    }
    .todo__category.todo__category {
        margin: 10px auto 0 auto;
    }
}

@media screen and (max-width: 375px) {
    .page__content {
        padding: 15px 20px 15px 20px;
    }
}
