@mixin disableCopy {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin sliceText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
