*,
*:before,
*::after {
    box-sizing: border-box;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    outline: none;
    cursor: pointer;
    padding: 0;
}

input {
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

html,
body {
    height: 100%;
}

body {
    background-color: #ea5959;
    color: #525252;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

// /.NULLSTYLES

#root,
.App,
.page {
    height: 100%;
}

.App {
    padding: 20px;
}

.page {
    background-color: #fff;
    box-shadow: 2px 17px 26px -12px rgba(34, 60, 80, 0.43);
    border-radius: 10px;
    &__wrapper {
        display: flex;
        height: 100%;
    }
    &__nav {
        border-radius: 10px 0 0 10px;
        padding: 20px 80px 20px 30px;
        border-right: 1px solid #d8d8d8;
    }
    &__content {
        flex: 1;
        border-radius: 0 10px 10px 0;
        padding: 30px 45px 30px 50px;
        display: flex;
        flex-direction: column;
    }
    &__title {
        margin: 0;
        font-size: 31px;
        line-height: 37.2px;
        font-weight: 700;
        color: #000;
    }
    &__title--empty {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    &__form {
        margin: 25px 0;
    }
    &__list {
        flex: 1;
    }
    &__preloader {
        display: flex;
        justify-content: center;
        align-items: center;      
        height: 100%;  
    }
}
