@import '../styles/mixins';

// /. imports

*,
*:before,
*::after {
    box-sizing: border-box;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    outline: none;
    cursor: pointer;
    padding: 0;
}

input {
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

svg {
    flex-shrink: 0;
}

fieldset {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    font-size: 14px;
}

body {
    background-color: #ea5959;
    color: #525252;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

// /.NULLSTYLES

#root,
.App,
.page {
    height: 100%;
}

.App {
    padding: 20px;
}

.page {
    background-color: #fff;
    box-shadow: 2px 17px 26px -12px rgba(34, 60, 80, 0.43);
    border-radius: 10px;
    &__wrapper {
        display: flex;
        height: 100%;
        position: relative;
    }
    &__modal {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 300px;
        width: 100%;
    }
    &__nav {
        border-radius: 10px 0 0 10px;
        padding: 20px 35px 20px 30px;
        border-right: 1px solid #d8d8d8;
        flex: 0 1 15%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__content {
        flex: 1;
        border-radius: 0 10px 10px 0;
        padding: 15px 45px 15px 50px;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &__title {
        margin: 0;
        font-size: 31px;
        font-weight: 700;
        color: #000;
        // disable copy
        @include disableCopy;
        // hide text
        @include sliceText;
        max-width: calc(100vw - 680px);
        width: 100%;
    }
    &__message {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    &__list {
        flex: 1;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 25px 0;
        :not(:last-child) {
            margin: 0 10px 0 0;
        }
    }
    &__preloader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    &__button {
        background-color: transparent;
        border: none;
        position: absolute;
        right: 1rem;
        top: 0.75rem;
        &:hover svg {
            fill: #000;
        }
        svg {
            fill: #777;
            transition: all 0.25s linear;
        }
    }
}

.resizer {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #000;
    top: 0;
    right: 0;
    cursor: col-resize;
    transition: all 0.35s linear;
    opacity: 0;
}
