*,
*:before,
*::after {
    box-sizing: border-box;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

input {
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

html,
body {
    height: 100%;
}

body {
    background-color: #EA5959;
    color: #525252;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

// /.NULLSTYLES

#root,
.App,
.page {
    height: 100%;
}

.App {
    padding: 8rem 15rem;
}

.page {
    background-color: #fff;
    border-radius: 10px;
    &__wrapper {
        display: flex;
        height: 100%;
    }
    &__nav {
        // background-color: #ccc;
        border-radius: 10px 0 0 10px;
        padding: 20px 80px 20px 30px;
        border-right: 1px solid #D8D8D8;
    }
    &__content {
        flex: 1;
        // background-color: #888;
        border-radius: 0 10px 10px 0;
    }
}