.nav {
    &__menu {
        :not(:last-child) {
            margin: 0 0 24px;
        }
    }
    &__link {
        color: #525252;
        font-size: 22px;
        line-height: 26px;
        transition: all 0.25s linear;
        &:hover {
            color: rgba($color: #ea5959, $alpha: 0.8);
        }
    }
    &__link.active {
        color: #ea5959;
    }
}
