@import "../../assets/styles/mixins";

// /. imports

.nav {
    width: 100%;
    position: relative;
    // height: 100%;
    &:hover .resizer {
        opacity: 1;
    }
    &__menu {
        :not(:last-child) {
            margin: 0 0 24px;
        }
    }
    &__item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__link {
        color: #525252;
        font-size: 22px;
        line-height: 26px;
        transition: all 0.25s linear;
        // disable copy
        @include disableCopy;
        &:hover {
            color: rgba($color: #ea5959, $alpha: 0.8);
        }
        span {
            font-size: 20px;
        }
    }
    &__link.active {
        color: #ea5959;
    }
    &__link.disabled {
        color: rgba($color: #525252, $alpha: 0.35);
        &:hover {
            cursor: not-allowed;
        }
    }
}

